body{
    background-image: url(park_login.png);
}

h2, p, label{
    color: cornflowerblue;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button{
    width: 100%;
}
