body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-image: url(park_banner.png);
}

#login_info {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: none;
}

#login_info:hover{
    border: none;
}

#logout_btn{
    padding-left: 10px;
}

